# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.http-backend
.env.web
.env.dashboard
.env.ws-backend
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env.local
apps/http-backend/index.js
apps/http-backend/api/server.js

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
